<% if blog.users.include?(current_user)%>
  <li>
    <%= I18n.t('tog_conversatio.views.member.blogs.manage.title', :blog_title => blog.title) %>
    <ul>
      <li><%= link_to I18n.t('tog_conversatio.views.member.blogs.manage.edit_blog'), edit_member_conversatio_blog_path(blog) %></li>
      <li><%= link_to I18n.t('tog_conversatio.views.member.blogs.manage.editors'), member_conversatio_blog_bloggerships_url(blog) %></li>
      <li><%= link_to I18n.t('tog_conversatio.views.member.blogs.manage.posts'), member_conversatio_blog_posts_path(blog) %></li>
      <li><%= link_to I18n.t('tog_conversatio.views.member.blogs.manage.add_post'), new_member_conversatio_blog_post_url(blog) %></li>
    </ul>
  </li>
<% end %>
