<%
#locals
blog ||= @blog
%>
<div class="titleB"><%= I18n.t('tog_conversatio.views.member.blogs.new.create_blog') %></div>

<%= error_messages_for :blog %>
<% form_for :blog, :url => member_conversatio_blogs_path, :html => {:id => "settings", :method => "post"} do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="actions"><%= submit_tag I18n.t('tog_conversatio.views.member.blogs.new.create_blog'), :class => 'button mainaction' %></div>
<% end -%>


<% content_for :sidebar_member do %>
  <%= render :partial => 'member/conversatio/blogs/blogs' %>
<% end %>
